<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899152252708-6upmeb2qi6kvpd11lpt3uav9pksqc33g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899152252708-6upmeb2qi6kvpd11lpt3uav9pksqc33g</string>
	<key>API_KEY</key>
	<string>AIzaSyADDK_rO9ybwCp568ZpcoQWP8zaU_E0_y4</string>
	<key>GCM_SENDER_ID</key>
	<string>899152252708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoshuaChuang.PartnerUp</string>
	<key>PROJECT_ID</key>
	<string>partnerup-54e0c</string>
	<key>STORAGE_BUCKET</key>
	<string>partnerup-54e0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:899152252708:ios:6030bdd5df8b87af04edb1</string>
</dict>
</plist>
